*{
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    position: relative;
}

.main-container img{
    width: 100%;
    position: absolute;
}

#orderbtn{
    position: absolute;
    color: rgb(228, 228, 241);
    background-color: rgb(43, 14, 168);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 30px;
    left: 8%;
    top: 160px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: "sans-serif";
    text-align: center;
    z-index: 10;
}

#orderbtn:hover{
    background-color: rgb(231, 233, 217);
    color: rgb(51, 17, 145);
}

#menus{
    position: absolute;
    left: 8%;
    top: 240px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
    display: flex;
    z-index: 10;
}

#menus li{
    margin-right: 11%;
    padding: 10px;
    border-radius: 10px;
}

#menus li:hover{
    background-color: rgb(38, 181, 206);
}

#download{
    position: absolute;
    left: 8%;
    top: 350px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#dummy-text{
    position: absolute;
    left: 8%;
    top: 520px;
    font-size: 20px;
    width: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#quality{
    position: absolute;
    left: 36%;
    top: 965px;
    font-size: 23px;
    font-weight: 700;
}

#vector{
    position: absolute;
    left: 0;
    top: 0;
}

#vector1{
    position: absolute;
    left: 0;
    top: 0;
}

#socialmedia{
    position: absolute;
    left: 0;
    top: 0;
}

#twitter{
    position: absolute;
    top: 950px;
    left: 8%;
    width: 1.5%;
}

#facebook{
    position: absolute;
    top: 950px;
    left: 10%;
    width: 1.5%;
}

#insta{
    position: absolute;
    top: 950px;
    left: 12%;
    width: 1.5%;
}

#lessthan{
    position: absolute;
    top: 970px;
    left: 93%;
    width: 2%;
}

#greaterthan{
    position: absolute;
    top: 970px;
    left: 95.5%;
    width: 2%;
}

#mobile {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 64%;
    top: 220px;
    width: 25%;
  }
  
@keyframes MoveUpDown {
    0%, 100% {
      top: 240px;
    }
    50% {
      top: 300px;
    }
  }
